@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

@layer base {
    h1 {
        @apply text-2xl font-bold active:text-gray-500;
    }
    h2 {
        @apply text-xl font-bold active:text-gray-500;
    }
    h3 {
        @apply text-lg font-bold active:text-gray-500;
    }
}

@layer components {
    .line-clamp-1 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    .line-clamp-2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}
